#title{
    background-color: #ff4c68;
    color: #fff;
}

h1 {  
    font-family: 'Montserrat';  
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    color: white;
}
h2{
    font-family: Montserrat-Bold;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}

p{
    color: gray;
}


body{
    font-family: Montserrat;
}


.container-fluid{
padding: 3% 15% 7%;

}
.navbar{
    padding: 0;
    padding-bottom:  4.5rem ;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}
.navbar-nav{
    padding-left: 50px;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2 rem;
    font-family: Montserrat-Light;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%; 
  transform: rotate(20deg); 
  position: absolute;
  right: 30%;

  
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color:rgb(239, 129, 114);
    margin-bottom: 1rem;
}
.icon:hover{
    color: salmon;
}
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: rgb(239, 129, 114);
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:rgb(239, 129, 114) ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.button{
    background-color: transparent;
    border: none;
    margin-top: 130px;
}
.carousel-item{
    padding: 7% 15%;
}
.signup{
    margin-bottom: 5px;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    background-color:rgb(239, 129, 114) ;
    color: #fff;
    padding: 7% 15%;
}
.cta-heading{
    
}
@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform:rotate(0);
    }
    

}
.Download{
    position:absolute;
  
    
}

#footer{
    background-color: #fff;
    height: 150x;
}
